/* Categorias.css */

.category-list {
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 1.5rem; 
  max-width: 100%; 
  box-sizing: border-box; 
  overflow: hidden; 
  padding: 1rem; 
}

@media (min-width: 576px) {
  .category-list {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 768px) {
  .category-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .category-list {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (min-width: 1200px) {
  .category-list {
    grid-template-columns: repeat(3, 1fr); 
  }
}
